<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel = "tests"  name="Suite">

<listeners>
<listener class-name="saloni.testcomponents.Listeners"/>
</listeners >

  <test thread-count="5" name="submit order Test">
    <classes>
      <class name="saloni.projectfarmework.submitordertest">
      </class>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="ErrorValidations">
    <classes>
      <class name="saloni.projectfarmework.ErrorValidations"/>
    </classes>
  </test> <!-- Test -->
  
 
</suite> <!-- Suite -->
